@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #07252d;
}

.container {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
  }
}
.container .stats {
  margin-top: 40px;
  padding: 10px;
}
.container .stats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
.container .stats .stat .question-num {
  color: #E6E2C3;
}
.container .stats .stat .questionne {
  background-color: #0f0f0f;
  border: none;
  color: white;
  padding: 5px 20px;
  border-radius: 25px;
}
.container .stats .stat .user-response {
  border: none;
  padding: 5px 20px;
  border-radius: 25px;
}
.container .stats .stat .vrai {
  background-color: rgb(36, 231, 36);
}
.container .stats .stat .fault {
  background-color: rgb(231, 36, 36);
}
.container .stats .stat .correct-response {
  background-color: rgb(112, 156, 223);
  border: none;
  padding: 5px 20px;
  border-radius: 25px;
}
.container .stats .stat .explanation {
  background-color: #E6E2C3;
  border: none;
  padding: 5px 20px;
  border-radius: 25px;
}

header .title {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  font-family: Arial;
  font-size: 70px;
  Letter-spacing: 15px;
  color: #0e3742;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5333333333));
  line-height: 0.7em;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}
@-webkit-keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, ee 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}
@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, ee 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}
@media (max-width: 575px) {
  header .title {
    font-weight: bold;
    font-size: 27px;
    Letter-spacing: 4px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  header .title {
    font-weight: 600;
    font-size: 35px;
    Letter-spacing: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .title {
    font-weight: 500;
    font-size: 55px;
    Letter-spacing: 8px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
header .welcome {
  padding-top: 60px;
  font-family: Arial;
  text-transform: uppercase;
  font-family: Arial;
  line-height: 0.7em;
  color: #0e3742;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5333333333));
  line-height: 0.7em;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}
@media (max-width: 575px) {
  header .welcome {
    font-weight: 900;
    font-size: 30px;
    Letter-spacing: 6px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  header .welcome {
    font-weight: 700;
    font-size: 45px;
    Letter-spacing: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .welcome {
    font-weight: 600;
    font-size: 52px;
    Letter-spacing: 13px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  header .welcome {
    font-weight: 400;
    font-size: 70px;
    Letter-spacing: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
header .good-luck {
  display: none;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  font-family: Arial;
  font-size: 70px;
  Letter-spacing: 15px;
  color: white;
  text-align: center;
  line-height: 0.7em;
}
@media (max-width: 575px) {
  header .good-luck {
    font-weight: bold;
    font-size: 27px;
    Letter-spacing: 4px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  header .good-luck {
    font-weight: 600;
    font-size: 35px;
    Letter-spacing: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .good-luck {
    font-weight: 500;
    font-size: 55px;
    Letter-spacing: 8px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

section {
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 575px) {
  section {
    margin-top: 30px;
  }
}
section div .input {
  background-color: #E6E2C3;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 26px;
  width: 280px;
  color: #227C70;
  font-size: 18px;
}
section div .input:focus {
  border: 2px solid #227C70;
}
section div .input::-webkit-input-placeholder {
  color: #1f2e2c;
}
section div .input::-moz-placeholder {
  color: #1f2e2c;
}
section div .input:-ms-input-placeholder {
  color: #1f2e2c;
}
section div .input::-ms-input-placeholder {
  color: #1f2e2c;
}
section div .input::placeholder {
  color: #1f2e2c;
}
section div .input:valid {
  border: 2px solid #227C70;
}
section div button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: #227C70;
  color: #E6E2C3;
}
section div button:hover {
  background-color: #E6E2C3;
  color: #227C70;
  padding: 11px 22px;
}
section .valid-input {
  color: red;
  margin-top: 10px;
  font-size: 20px;
  display: none;
}

.progress-bar {
  display: none;
  position: relative;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 575px) {
  .progress-bar {
    width: 350px;
  }
}
.progress-bar .stepper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.progress-bar .stepper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 39%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgb(85, 77, 77);
}
.progress-bar .stepper .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}
.progress-bar .stepper .step .step-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #0e3742;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.progress-bar .stepper .step .step-item:hover {
  background-color: #03bcf4;
}
.progress-bar .stepper .step .step-title p {
  color: #E6E2C3;
}

.step-item-active {
  background-color: #03bcf4 !important;
}

.info {
  margin-top: 20px;
  width: 100%;
}
@media (max-width: 575px) {
  .info {
    margin-top: 10px;
  }
}
.info .info_list {
  border-radius: 5px;
  display: none;
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #E6E2C3;
  margin-left: auto;
  margin-right: auto;
}
.info .info_list div {
  color: #1C315E;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
}
.info .info_list .accepting-buton {
  text-align: center;
}
.info .info_list .accepting-buton button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: #227C70;
  color: #E6E2C3;
}
.info .info_list .accepting-buton button:hover {
  background-color: #318378;
  color: #e7e5d1;
  padding: 11px 22px;
}
.info .quiz-app {
  display: none;
  padding: 20px;
  background-color: #E6E2C3;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 575px) {
  .info .quiz-app {
    width: 98%;
    padding: 5px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .info .quiz-app {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .info .quiz-app {
    width: 70%;
  }
}
.info .quiz-app .quiz-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #1C315E;
  color: white;
  border-radius: 11px;
}
@media (max-width: 575px) {
  .info .quiz-app .quiz-info {
    padding: 14px 10px;
  }
}
.info .quiz-app .quiz {
  padding: 20px;
  background-color: #fff;
  margin-top: 15px;
}
@media (max-width: 575px) {
  .info .quiz-app .quiz {
    padding: 10px;
  }
}
.info .quiz-app .quiz h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #1C315E;
}
@media (max-width: 575px) {
  .info .quiz-app .quiz h2 {
    font-size: 17px;
  }
}
.info .quiz-app .answers-area {
  background-color: #fff;
  padding: 0 20px 20px 20px;
}
.info .quiz-app .answers-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info .quiz-app .answers-area .answer:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
.info .quiz-app .answers-area .answer input[type=radio]:checked + label {
  color: #1C315E;
}
.info .quiz-app .answers-area .answer:hover {
  background-color: #E6E2C3;
}
.info .quiz-app .answers-area .answer label {
  cursor: pointer;
  padding: 0 5px;
  color: #777580;
  font-size: 14px;
  font-weight: bold;
}
.info .quiz-app .button-father {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info .quiz-app .button-father .submit-answer {
  background-color: #1C315E;
  width: 90%;
  margin: 20px auto;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.info .quiz-app .button-father .submit-answer:hover {
  background-color: #3c8da5;
}
.info .quiz-app .bullets {
  border-top: 1px solid #eaeaea;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info .quiz-app .bullets .spans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.info .quiz-app .bullets .spans span {
  width: 25px;
  height: 9px;
  background-color: #c4c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.info .quiz-app .bullets .spans .on {
  background-color: #03bcf4;
}
.info .result {
  text-align: center;
  font-size: 30px;
  color: white;
}
.info .result .good {
  color: rgb(50, 214, 50);
}
.info .result .perfect {
  color: #03bcf4;
}
.info .result .bad {
  color: red;
}